<h2>Add Todo</h2>
<div>
  <form [formGroup]="form" (ngSubmit)="addTodo()">
    <table>
      <tr>
        <td>Task Name</td>
        <td><input type="text" formControlName="taskname"></td>
      </tr>
      <tr>
        <td>Priority</td>
        <td>
          <select formControlName="priority">
            <option value="low">Low</option>
            <option value="med">Medium</option>
            <option value="high">High</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Due Date</td>
        <td><input type="date" formControlName="duedate"></td>
      </tr>
      <tr>
        <td>Username</td>
        <td><input type="text" formControlName="username"></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit">Add</button></td>
      </tr>
    </table>
  </form>
</div>
<button [routerLink]="['']">Back</button>
